<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
  <!-- Custom styles for this template -->
  <link th:href="@{/css/dashboard.css}" rel="stylesheet">
  <title>Añadir Usuario</title>
</head>

<body>
<div sec:authorize="isAuthenticated()">
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">techMind Soft</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Buscar..." aria-label="Search">
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#" th:href="@{/logout}" > Cerrar sesión </a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/dashboard">
                <span data-feather="home" class="align-text-bottom"></span>
                Inicio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movements">
                <span data-feather="file" class="align-text-bottom"></span>
                Movimientos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/users">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                Usuarios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/enterprises">
                <span data-feather="users" class="align-text-bottom"></span>
                Empresas
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div sec:authorize="hasRole('ADMIN')">
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1 class="pt-3 pb-2 border-bottom">Agregar un nuevo usuario</h1>
        <form method="post" th:action="@{/users/added}" th:object="${formAddUser}">
          <div class="mb-3">
            <label for="username" class="form-label">Nombre de Usuario</label>
            <input type="text" class="form-control" id="username" th:field="*{profile.username}">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}">
          </div>
          <div class="mb-3">
            <label for="enterprise" class="form-label">Empresa a la que pertenece</label>
            <select  class="form-select" id="enterprise" th:field="*{enterprise.id}">
              <option th:each="enterprise : ${empresas}" th:text="${enterprise.name}" th:value="${enterprise.id}"></option>

            </select>
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Rol</label>
            <select  class="form-select" id="role" th:field="*{roleName}">
              <option th:each="role : ${roles}" th:text="${role.name}" th:value="${role.name}"></option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword" th:field="*{profile.password}">
          </div>
          <div class="mb-3">
            <label for="imagen" class="form-label">Imagen</label>
            <input type="text" class="form-control" id="imagen" th:field="*{profile.image}">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="phone" th:field="*{profile.phone}">
          </div>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
      </main>
      </div>
      <div sec:authorize="hasRole('OPERARIO')">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="alert alert-warning mt-5" role="alert">
            Debes ser un Administrador para agregar usuarios
          </div>
        </main>
      </div>

    </div>
  </div>

</div>
<aside sec:authorize="!isAuthenticated()">
  <div class="alert alert-danger" role="alert">
    Debes <a href="/login">Iniciar Sesión</a> acceder a esta sección.
  </div>
</aside>
<script th:src="@{/js/sidebars.js}"></script>
<script th:src="@{/bootstrap.bundle.min.js}"></script>
</body>
</html>