<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <title>Usuarios</title>
</head>

<body>
<div sec:authorize="isAuthenticated()">
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">techMind Soft</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Buscar..." aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="#" th:href="@{/logout}" > Cerrar sesión </a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/dashboard">
                                <span data-feather="home" class="align-text-bottom"></span>
                                Inicio
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/transactions">
                                <span data-feather="file" class="align-text-bottom"></span>
                                Movimientos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users">
                                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                                Usuarios
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/enterprises">
                                <span data-feather="users" class="align-text-bottom"></span>
                                Empresas
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <h1 class="pt-3 pb-2 border-bottom">Todos los movimientos</h1>
                <sec:authorize access="hasRole('ADMIN')">
                    <a href="/transactions/add-new" class="btn btn-primary mb-2 mt-2">Agregar un movimiento</a>
                </sec:authorize>
                <div class="table-responsive">
                    <table class="table align-middle table-bordered table-striped table-hover col-12">
                        <thead>
                        <tr>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Responsable</th>
                            <th scope="col">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="movements : ${movimientos}">
                            <td th:text="${movements.amountMovement}"></td>
                            <td th:text="${movements.detailMovement}"></td>
                            <td th:text="${movements.enterprise.name}"></td>
                            <td th:text="${movements.employee.name}"></td>
                            <td class="text-center">
                                <div sec:authorize="hasRole('ADMIN')">
                                    <form th:method="delete" th:action="@{/transaction/delete/{id}(id=${movements.id})}" >
                                        <button class="btn btn-danger mb-1" type="submit">Borrar movimiento</button>
                                    </form>
                                    <form th:method="get" th:action="@{/transaction/update/{id}(id=${movements.id})}">
                                        <button class="btn btn-warning" type="submit">Editar</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

</div>
<aside sec:authorize="!isAuthenticated()">
    <div class="alert alert-danger" role="alert">
        Debes <a href="/login">Iniciar Sesión</a> acceder a esta sección.
    </div>
</aside>
<script th:src="@{/js/sidebars.js}"></script>
<script th:src="@{/bootstrap.bundle.min.js}"></script>
</body>
</html>