<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="bootstrap.min.css">
  <!-- Custom styles for this template -->
  <link href="css/dashboard.css" rel="stylesheet">
  <title>Panel de Control</title>
</head>

<body>
<div sec:authorize="isAuthenticated()">
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">techMind Soft</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Buscar..." aria-label="Search">
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#" th:href="@{/logout}" > Cerrar sesión </a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard">
                <span data-feather="home" class="align-text-bottom"></span>
                Inicio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movements">
                <span data-feather="file" class="align-text-bottom"></span>
                Movimientos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                Usuarios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/enterprises">
                <span data-feather="users" class="align-text-bottom"></span>
                Empresas
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1 class="pt-3 pb-2 border-bottom">Usuarios</h1>

        <div class="table-responsive">
          <table class="table align-middle table-bordered table-striped table-hover col-12">
            <thead>
            <tr>
              <th scope="col">Nombre de usuario</th>
              <th scope="col">Nombre</th>
              <th scope="col">Email</th>
              <th scope="col">Contraseña</th>
              <th scope="col">Foto</th>
              <th scope="col">Telefono</th>
              <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${usuarios}">
              <td th:text="${employee.profile.username}"></td>
              <td th:text="${employee.name}"></td>
              <td th:text="${employee.email}"></td>
              <td th:text="${employee.profile.password}"></td>
              <td th:text="${employee.roleName}"></td>
              <td th:text="${employee.profile.phone}"></td>
              <td>
                <div sec:authorize="hasAuthority('ADMIN')">
                  <form th:method="delete" th:action="@{/delete/user/{id}(id=${employee.id})}" >
                    <button class="btn btn-md btn-danger" type="submit">Borrar usuario</button>
                  </form>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
    </div>
    </main>
  </div>
</div>

</div>
<aside sec:authorize="!isAuthenticated()">
  <div class="alert alert-danger" role="alert">
    Debes <a href="/login">Iniciar Sesión</a> acceder a esta sección.
  </div>
</aside>
<script src="js/sidebars.js"></script>
<script src="bootstrap.bundle.min.js"></script>
</body>
</html>