<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Registro de Perfiles</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#"> Control de Perfiles</a>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link"
                                    th:href="@{/profiles}">Control de perfiles</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Registro de perfiles</h1>
            <div class="card-body">
                <form th:action="@{/profiles}" th:object="${profile}" method="POST">
                    <div class="form-group">
                        <label>Imagen : </label>
                        <input type="text" name="imagen" th:field="*{image}" class="form-control" placeholder="Ingrese una imagen : " required>
                    </div>

                    <div class="form-group">
                        <label>Telefono : </label>
                        <input type="text" name="phone" th:field="*{phone}" class="form-control" placeholder="Digite su telefono : " required>
                    </div>

                    <div class="form-group">
                        <label>Fecha : </label>
                        <input type="date" name="createdAt" th:field="*{createdAt}" class="form-control" placeholder="Digite la fecha : " required>
                    </div>

                    <div class="box-footer">
                        <button class="btn btn-success">Guardar</button>
                        &nbsp;<a class="btn btn-warning" th:href="@{/profiles}">Ver todos</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>